html{
  color: black;
  font-size: 16px;
}

/*.card{*/
/*  border-radius: 20px;*/
/*}*/
/*.card-content{*/
/*  background-color: #f5f5f5;*/
/*  border-radius: 20px !important;*/
/*}*/

/*.table{*/
/*  background-color: #f5f5f5 !important;*/
/*}*/

/*.table th{color: #212121;font-weight: bold}*/
/*.table td{color: #424242;}*/


/*.card-title-page{*/
/*  background-color: #424242 ;*/
/*  border-radius: 20px;*/
/*  padding: 24px !important;*/
/*  margin-top: 10px;*/
/*}*/

/*.card-title-page h4{*/
/*  color: white !important;*/
/*  margin-bottom: 22px;*/
/*}*/
/*.card-title-page span{*/
/*  color: #f5f5f5;*/
/*}*/

.cabecalho-table {
  color: white !important;
  border-radius:32px !important;
  background-color: #424242 !important;
  padding: 2px 40px;
  font-size: 14px;
  font-weight: bold;
}


.btn-floating, .btn{background-color: #212121 !important;}
.fixed-action-btn{bottom: 50px; right: 19px;}


/* CORES REFERENTES AO CATEGORIA DE TRANSAÇÕES */
.cor-transacao-azul{background-color: #1e88e5 !important;}
.cor-transacao-vermelho{background-color: #e53935 !important;}
.cor-transacao-laranjado{background-color: #fb8c00 !important;}
.cor-transacao-verde{background-color: #43a047 !important;}
.cor-transacao-roxo{background-color: #8e24aa !important;}
.cor-transacao-preto{background-color: #000 !important;}
.cor-transacao-cinza{background-color: #757575 !important;}
.cor-transacao-rosa{background-color: #d81b60 !important;}
.cor-transacao-amarelo{background-color: #fdd835 !important;}

.cor-texto-transacao-azul{color: #1e88e5 !important;}
.cor-texto-transacao-vermelho{color: #e53935 !important;}
.cor-texto-transacao-laranjado{color: #fb8c00 !important;}
.cor-texto-transacao-verde{color: #43a047 !important;}
.cor-texto-transacao-roxo{color: #8e24aa !important;}
.cor-texto-transacao-preto{color: #000 !important;}
.cor-texto-transacao-cinza{color: #757575 !important;}
.cor-texto-transacao-rosa{color: #d81b60 !important;}
.cor-texto-transacao-amarelo{color: #fdd835 !important;}


.modal.left-sheet {
  float: right;
  left: auto;
  width: 60%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  border-radius: 0;
  will-change: top,opacity;
}