@model DreamsHub.ViewModels.TransacaoViewModel

<link rel="stylesheet" type="text/css" href="~/Materialize/app-assets/css/pages/app-invoice.min.css">

<div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-blue"></div>
    <div class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s9 mt-3 mb-0">
                    <h4 class="white-text">Transações</h4>
                    <span class="grey-text">Home -> Transação</span>
                </div>
            </div>
            <div class="row">
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large">
                        <i class="large material-icons">playlist_add</i>
                    </a>
                </div>
                <!-- invoice list -->
                <section class="invoice-list-wrapper section mt-0">
                    <div class="card">
                        <div class="card-content pt-2">
                            <h4>Filtro</h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div id="div-tabela-orcamento">
                                @Html.Partial("_tabelaTransacoes", Model)
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="~/Materialize/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
<script src="~/Materialize/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Materialize/app-assets/vendors/data-tables/js/datatables.checkboxes.min.js"></script>