@model DreamsHub.ViewModels.PlanejamentoViewModel

<div class="row">
    <div class="content-wrapper-before white"></div>
    <div class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s3 card-title-page">
                    <h4 class="bold">Planejamento</h4>
                    <span>Home -> Planejamento</span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>