@model DreamsHub.ViewModels.HomeViewModel

<div class="row">
    <div class="content-wrapper-before white"></div>
    <div class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s3 card-title-page">
                    <h4 class="bold">Principal</h4>
                    <span>Home -> Transação</span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <section class="invoice-list-wrapper section mt-0">
                        <div class="card">
                            @using (Html.BeginForm("Filtro", "Transacao", FormMethod.Post, new {id = "form-filtro-transacao"}))
                            {
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s12 center">
                                            <i class="material-icons cursor-pointer mr-1 alter-mouth" data-tipo="anterior">arrow_back</i>
                                            <div class="chip grey darken-3 white-text chip-mes-filtro" id="nome-mes-filtro">@Model.Mes</div>
                                            <i class="material-icons cursor-pointer ml-1 alter-mouth" data-tipo="proximo">arrow_forward</i>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </section>
                    
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content" id="div-dashboard">
                            @Html.Partial("_dashboardHome", Model)
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<div id="div-modal-lista-transacao"></div>

<script src="~/Materialize/app-assets/vendors/sparkline/jquery.sparkline.min.js"></script>

<script>
    $(document).ready(function (){
        $(".alter-mouth").click(async function (){
            
            let tipo = $(this).data("tipo");
            
            const response = new ViewResponse(await new CustomAjax({
                type: "POST",
                url: "/Home/Filtro",
                data: {
                    mes: $("#nome-mes-filtro").text(),
                    tipo: tipo    
                }
            }).Start());
            
            if (response.Status()){
                $("#div-dashboard").html(response.View())
                $("#nome-mes-filtro").text(response.Content().mes)
            }
        })
        
        $(".item-categoria").click(async function (){
            let categoria = $(this).data("categoria");
            
            const response = new ViewResponse(await new CustomAjax({
                type: "POST",
                url: "/Home/ModalListaTransacao",
                data: {
                    categoria    
                }
            }).Start());
            
            if (response.Status()){
                $("#div-modal-lista-transacao").html(response.View())
                
                $(`#modal-lista-transacao`).modal();
                $(`#modal-lista-transacao`).modal("open");
              
            }
        })
    })
</script>