@using Newtonsoft.Json
@model DreamsHub.ViewModels.HomeViewModel

<link rel="stylesheet" type="text/css" href="~/Materialize/app-assets/vendors/chartist-js/chartist.min.css">
<link rel="stylesheet" type="text/css" href="~/Materialize/app-assets/vendors/chartist-js/chartist-plugin-tooltip.css">

<div class="row">
    <div class="content-wrapper-before black"></div>
    <div class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col m6 s12">
                                    <h4 class="indigo-text">Home - Dashboard</h4>
                                    <span>Referente mês de Junho</span>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                @using (Html.BeginForm("Filtro", "Transacao", FormMethod.Post, new { id = "form-filtro-transacao" }))
                                {
                                    <div class="col s12 center">
                                        <i class="material-icons cursor-pointer mr-1 alter-mouth" data-tipo="anterior">arrow_back</i>
                                        <div class="chip grey darken-3 white-text chip-mes-filtro" id="nome-mes-filtro">@Model.Mes</div>
                                        <i class="material-icons cursor-pointer ml-1 alter-mouth" data-tipo="proximo">arrow_forward</i>
                                    </div>
                                }
                            </div>
                            
                            <div  id="div-dashboard">
                                @Html.Partial("_dashboardHome", Model)
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<div id="div-modal-lista-transacao"></div>

<script src="~/Materialize/app-assets/vendors/sparkline/jquery.sparkline.min.js"></script>
<script src="~/Materialize/app-assets/vendors/chartjs/chart.min.js"></script>
<script src="~/Materialize/app-assets/vendors/chartist-js/chartist.min.js"></script>
<script src="~/Materialize/app-assets/vendors/chartist-js/chartist-plugin-tooltip.js"></script>
<script src="~/Materialize/app-assets/vendors/chartist-js/chartist-plugin-fill-donut.min.js"></script>

<script src="~/js/views/Home/Home.js"></script>

<script>
    $(document).ready(function (){
        let listaMetas = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.TotalizadorMetas))')
        
        new Home({
            metas: listaMetas
        })
        
        $(".alter-mouth").click(async function (){
            
            let tipo = $(this).data("tipo");
            
            const response = new ViewResponse(await new CustomAjax({
                type: "POST",
                url: "/Home/Filtro",
                data: {
                    mes: $("#nome-mes-filtro").text(),
                    tipo: tipo    
                }
            }).Start());
            
            if (response.Status()){
                $("#div-dashboard").html(response.View())
                $("#nome-mes-filtro").text(response.Content().mes)
            }
        })
    })
</script>